<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/uikit.css">

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script src="/js/uikit.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Oxy - test úloha</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="uk-alert, uk-text-center, flash, $flash->type">{$flash->message}</div>
  
  <div class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center">
	 {include content}
  </div>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
