{block title}Homepage{/block}

{block content}

	<h1 class="uk-text-center">Oxy - testovací úloha</h1>

	<h2>Registrační formulář</h2>

  {form registrationForm, class => "uk-form"}
    {foreach $form->getGroup( 'a' )->getControls() as $ctl}           
      <div class="uk-grid uk-grid-medium">
        <div class="uk-width-medium-3-10">
            <div class="">
              <div>{label $ctl->name /}</div>
              <div class="note"></div>
            </div>
        </div>
        <div class="uk-width-medium-7-10">
          <div class="">
            {input $ctl->name, class => 'uk-width-1-1'}
          </div>
        </div>
      </div>
    {/foreach}

    <div class="uk-grid uk-grid-medium">
      <div class="uk-width-1-1">
        <div class="">
          {input add, class => 'uk-button'}
        </div>
      </div>
    </div>                    
  {/form}

  <h2 class="uk-margin-large-top">Výpis registrovaných uživatelů a jejich údajů</h2>
  
  <table class="uk-table">
  	<thead>
	  	<tr>
	  		<th>Jméno</th>
	  		<th>E-mail</th>
	  		<th>Oprávnění</th>
	  	</tr>  	
  	</thead>
  	<tbody>
	  {foreach $registeredUsersList as $registredUser}
			<tr>
				<td>{$registredUser['name']}</td>
				<td>{$registredUser['email']}</td>
				<td>{$registredUser['role']|userRoleToString}</td>
			<tr>
	  {/foreach}
	  </tbody>
	</table>

{/block}